<% if(locals.searchOptions == null) {
    locals.searchOptions.title = ""
} %>
<h2>Search Books</h2>
<form action="/books" method="GET">
    <div>
        <label for="name">Title</label>
        <input type="text" name="title" id="title" value="<%= searchOptions.title %>"/>
    </div>
    <div>
        <label for="publishedBefore">Published before</label>
        <input type="date" name="publishedBefore" id="publishedBefore" value="<%= searchOptions.publishedBefore %>" />
    </div>
    <div>
        <label for="publishedAfter">Published After</label>
        <input type="date" name="publishedAfter" id="publishedAfter" value="<%= searchOptions.publishedAfter %>" />
    </div>
    <button type="submit">Search</button>
</form>
<br>
<br>
<div>
    <% books.forEach(book => { %>
        <img src="<%= book.coverImagePath %>" alt="yes" height="150" width="100">
    <% }) %> 
</div>
